---
title: Blog
---
<p>
Every so often, I may write a review of an album or band I listened to, something I watched, a book I read, or a game I played. I may also blog about science or general reflections about life.
</p>

{% for post in site.posts %}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<h3>
	<a class="post-link" href="{{ post.url | relative_url }}">
		{{ post.title | escape }}
	</a>
<span class="post-meta">{{ post.date | date: date_format }}</span>
</h3>
{% if site.show_excerpts %}
	{{ post.excerpt }}
{% endif %}
{% endfor %}
