<span class="social-media-list">
  
  {%- if site.twitter_username -%}
    <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
      </svg>
  </a>
  {%- endif -%}

  {%- if site.mastodon_username -%}
    <a rel="me" href="https://{{ site.mastodon_server| cgi_escape | escape }}/@{{ site.mastodon_username| cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#mastodon' | relative_url }}"></use>
      </svg>
    </a>
  {%- endif -%}

  {%- if site.github_username -%}
    <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
      </svg>
    </a>
  {%- endif -%}

  {%- if site.linkedin_username -%}
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
      </svg>
    </a>
  {%- endif -%}

  <!-- {% if site.orcid_username %}<a href="https://orcid.org/{{ site.orcid_username| cgi_escape | escape }}" <i class="ai ai-orcid-square ai-1x"></i></a>{% endif %} -->
  {% if site.orcid_username %}
    <a href="https://orcid.org/{{ site.orcid_username| cgi_escape | escape }}">
      <svg class="svg-icon">
        <image xlink:href="{{ '/static/img/logo/orcid_logo.svg' | relative_url }}" width="16" height="16"></image>
      </svg>
    </a>
  {% endif %}

  {% if site.google_scholar_username %}
    <a href="https://scholar.google.com/citations?user={{ site.google_scholar_username | cgi_escape | escape }}&hl=en&oi=ao">
      <svg class="svg-icon">
        <image xlink:href="{{ '/static/img/logo/gscholar_logo.svg' | relative_url }}" width="16" height="16"></image>
      </svg>
    </a>
  {% endif %}

</span>
