.flex-container {
	display: flex;
	flex-direction: row;
}

/*
.row {
  display: flex;
}

.column {
  flex: 50%;
}
*/

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
